name: tests

on:
  push:
    paths-ignore:
      - "README.md"
      - "docs/**"
  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Checkout pytest-anki
        uses: actions/checkout@v2

      - name: Checkout anki
        uses: actions/checkout@v2
        with:
          repository: dae/anki
          path: anki_root

      - name: Checkout latest Anki tag
        working-directory: anki_root
        run: |
          git fetch --tags 
          git checkout $(git describe HEAD --tags --abbrev=0)

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up node build dependency for anki
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Set up protoc build dependency for anki
        uses: Arduino/actions/setup-protoc@master

      # venv is automatically set up by this step
      - name: Install anki dependencies and build anki
        working-directory: anki_root
        run: |
          sudo apt-get install portaudio19-dev gettext rename
          make build BUILDFLAGS=""
          make develop

      - name: Install pytest-anki and its dependencies
        run: |
          . ./anki_root/pyenv/bin/activate
          sudo apt-get install xvfb libxkbcommon-x11-0
          pip install .

      - name: Run tests
        run: |
          . ./anki_root/pyenv/bin/activate
          ./tools/run_tests.sh
